/* General */

*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: segoeui,Microsoft JhengHei,sans-serif;
}
html{ 
    font-size: 62.5%;
}

/* Fin General */

/* Header */
.headerBackground {
    background-color: black;
    position: sticky;
    top: 0%;
    text-align: center;
}

.headerImg{
    position: relative;
    right: 500px;
    top: 10px;
    padding: 0px;
    width: 200px;
}

.headerNav {
    position: relative;
    bottom: 37px;
}
.headerNav ul li {
    display: inline-block;
    position: relative;
    padding: 0px 50px;
}

.headerNav ul li a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}
.headerNav ul li a:hover {
    color: red;
}
/* Fin Header */

/* Section */

.news {
    text-align: center;
}

.newInc {
    font-size: 3rem;
    text-align: center;
}

.newInc div {
    display: inline-block;
    margin: 0px 80px;
    border-style: inset;
}

.newInc div img {
    width: 400px;
}
/* Fin Section */

/* Footer */
.footerBackground {
    position: static;
    width: 100%;
    bottom: 0;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.footerImg {
    width: 125px;
}

.footerBackground div div a:hover {
    color: red;
} 
/* Fin Footer */