/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: segoeui,Microsoft JhengHei,sans-serif;
}
html{ 
    font-size: 62.5%;
}
/* Fin General */

/* GRID INDEX */
/* .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.7fr auto auto 0.1fr;
    grid-template-areas: 
        "logo header header"
        "section1 section1 section1"
        "section2 section2 section2" 
        "footer footer footer";
    min-height: 100vh;
}

.header {
    grid-area: logo;
    background-color: black;
}

.mainNav {
    grid-area: header;
    background-color: black;
}

.news {
    grid-area: section1;
}

.newsInc {
    grid-area: section2;
}

.footer {
    grid-area: footer;
} */
/* Fin GRID INDEX */

/* HEADER */
/* .header a {
    background-color: black;
    display: flex;
    justify-content: flex-end;
} */
.header {
    background-color: black;
}

.headerNav {
    display: flex;
    justify-content: center;
}

.nav-link {
    font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link.active:hover {
    color: red;
}

.navbar-dark .navbar-toggler {
    color: rgb(251, 251, 251);
    border-color: rgb(255, 255, 255);
}

.headerImg {
    width: 200px;
}

/* .headerNav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 2rem;
    position: relative;
    top: 20px;
}

.headerNav li {
    padding: 0 30px;
    list-style-type: none;
}

.headerNav li a {
    text-decoration: none;
    color: white;
}

.headerNav li a:hover {
    color: red;
}*/
/* Fin HEADER */

/* MAIN */
.news {
    background-color: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
}

.news a {
    display: flex;
    justify-content: center;
}

.news div {
    display: flex;
    justify-content: center;
}

.newsImg {
    width: 80%;
}

.newsInc {
    text-align: center;
    font-size: 3rem;
}

.newsInc div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 50px;
}

.newsInc div img {
    width: 300px;
    border-style: inset;
    border-color: black;
}
/* Fin MAIN */

/* FOOTER */
.footer{
    background-color: black;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
}

.footer div {
    text-align: center;
    text-decoration: none;
}

.footer div a {
    text-decoration: none;
    color: white;
}

.footer div a:hover {
    color: red;
}

.footer div p {
    display: flex;
    justify-content: center;
}

.footer div p a {
    margin: 20px 50px 0px 50px;
}

.footerImg {
    width: 100px;
}
/* Fin FOOTER */

/* Formulario Contacto */

/* .formulario {
    grid-area: section2;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.formulario {
    font-size: 2rem;
    text-align: center;
}
.contactoForm {
    width: 400px;
    margin: 0 auto;
    background-color: rgb(212, 212, 212);;
    border-radius: 3px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    outline: none;
    border: solid 1px;
    border-radius: 3px;
    width: 370px;
}

.contactoForm div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0px;
}

.send {
    flex-direction: row;
}

.send input {
    padding: 0px 10px;
    margin-bottom: 10px;
}

/* Fin Formulario Contacto */

/* VISTA TABLET */

@media screen and (max-width: 992px) {
    /* GRID INDEX */
    /* .gridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.7fr auto auto 0.1fr;
        grid-template-areas: 
            "logo header header"
            "section1 section1 section1"
            "section2 section2 section2" 
            "footer footer footer";
        min-height: 100vh;
    }
    .header {
        grid-area: logo;
        background-color: black;
    }
    
    .mainNav {
        grid-area: header;
        background-color: black;
    }
    
    .news {
        grid-area: section1;
    }
    
    .newsInc {
        grid-area: section2;
    }
    
    .footer {
        grid-area: footer;
    } */

    .video {
        width: 280px;
        height: 157px;
    }
}
/* Fin TABLET */

/* MOBILE */

@media screen and (max-width: 768px){
    /* GRID INDEX */
    /* .gridContainer {
        display: grid;
        grid-template-rows: 0.1fr 0.1fr auto auto 0.1fr;
        grid-template-columns: auto;
        grid-template-areas: 
            "logo"
            "header"
            "section1"
            "section2"
            "footer";
        min-height: 100vh;
    }

    .header {
        grid-area: logo;
        background-color: black;
    }

    .mainNav {
        grid-area: header;
        background-color: black;
    }
    
    .news {
        grid-area: section1;
    }
    
    .newsInc {
        grid-area: section2;
    }
    
    .footer {
        grid-area: footer;

    }*/
    /* Fin GRID */
    /* HEADER */
    /* .header {
        justify-content: center;
    }

    .headerNav{
        justify-content: center;
        font-size: 2rem;
        top: 0%;
    }

    .headerNav li {
        padding: 1px 5px;
    } */

    /* Fin HEADER */

    /* MAIN */

    .newsInc {
        font-size: 2rem;
    }
    
    .newsInc div {
        padding: 0 10px;
    }
    
    .newsInc div img {
        width: 200px;
    }

    .contactoForm {
        width: 300px;
    }

    .field {
        width: 270px;
    }

    .ubicacion {
        width: 300px;
        height: 225px;
    }

    .video {
        width: 280px;
        height: 157px;
    }
/* Fin MAIN */

/* Contacto */

.contactoForm {
    align-items: center;
}

/* Fin Contacto*/

/* FOOTER */
    .footer {
        font-size: 1.25rem;
    }
/* Fin FOOTER */
} 
/* Fin MOBILE */

/* PC - CONSOLAS */

/* .gridContainerPc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.7fr auto auto 0.5fr;
    grid-template-areas: 
        "logo header header"
        "section1 section1 section1"
        "nav section2 section2" 
        "footer footer footer";
    min-height: 100vh;
}

.porductsFilter {
    grid-area: nav;
}

.products {
    grid-area: section2;
} */

.mainSection {
    display: flex;
    flex-wrap: nowrap;
}

.productsFilter {
    color: black;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    margin-right: 10px;
}
.productsFilter p {
    margin-right: 40px;
    font-weight: bold;
}

.productsFilter ul {
    list-style-type: none;
}

.productsFilter ul li a {
    color: black;
    text-decoration: none;
}

.productsFilter ul li a:hover {
    color: red;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0px;
}

.products div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.products div img {
    border: solid 3px;
    margin: 1px;
    width: 300px;
    height: 250px;
}

/* VISTA TABLET */

@media screen and (max-width: 992px) {
    /* GRID PC-CONSOLAS */
    /* .gridContainerPc {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.7fr auto auto 0.1fr;
        grid-template-areas: 
            "logo header header"
            "section1 section1 section1"
            "nav section2 section2" 
            "footer footer footer";
        min-height: 100vh;
    }
    .porductsFilter {
        grid-area: nav;
    }
    
    .products {
        grid-area: section2;
    } */

    .mainSection {
        flex-direction: column;
    }
    .productsFilter {
        align-items: center;
    }
    
    .productsFilter p {
        margin: 0;
    }
    .productsFilter ul {
        display: flex;
    }

    .productsFilter ul li {
        padding: 0 5px;
    }
    .products {
        justify-content: center;
        margin: 0;
    }
    
    .products div {
        flex-direction: column;
    }
}
/* Fin TABLET */

/* VISTA MOBILE */

@media screen and (max-width: 768px){
    /* GRID INDEX */
    /* .gridContainerPc {
        display: grid;
        grid-template-rows: 0.1fr 0.1fr auto auto auto 0.1fr;
        grid-template-columns: auto;
        grid-template-areas: 
            "logo"
            "header"
            "section1"
            "nav"
            "section2"
            "footer";
        min-height: 100vh;
    } */

    .productsFilter {
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .productsFilter p {
        margin: 0px;
    }

    .productsFilter ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .productsFilter ul li {
        padding: 0px 5px;
    }

    .products {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}   

/* Fin MOBILE */
/* Fin PC - CONSOLAS */

/* Animaciones */

.newsInc div img {
    transition: all 1.5s;
}
.newsInc div img:hover {
    transform: scale(1.2);
    border-color: rgb(255, 0, 0);
}

.field {
    transition: all 1s;
}
.contactoForm input:focus {
    transform: scale(1.1);
}

/* Fin Animaciones */

