.header {
    background-color: black;
}

.headerNav {
    display: flex;
    justify-content: center;
}

.nav-link {
    font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link.active:hover {
    color: red;
}

.navbar-dark .navbar-toggler {
    color: rgb(251, 251, 251);
    border-color: rgb(255, 255, 255);
}

.headerImg {
    width: 200px;
}