.newsInc {
    margin-bottom: 50px;
    text-align: center;
    font-size: 3rem;
    div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 3rem;
        img {
            width: 300px;
            border-style: inset;
            border-color: black;
            /*animacion*/
            transition: all 0.75s;
            &:hover {
                transform: scale(1.1);
                border-color: rgb(255, 0, 0);
            }
        }
    }
    @media screen and (max-width: 768px) {
        font-size: 2rem;
        div {
            padding: 0 10px;
            img {
                width: 200px;
            }
        }
    }
}